<div class='w-[90%] mx-auto my-[40px]'>
    <div class='my-[45px]'>
        ĐIỆN THOẠI NỔI BẬT NHẤT
    </div>
    <div class="grid grid-cols-5 gap-3">
        <a class="block w-[226px] h-[430px] mx-auto">
            <img alt="Art" src={data.images?.[0].base_url} class="w-[80%] h-[45%] mx-auto" />

            <h3 class="mt-4 text-lg">
                sdasd
            </h3>
            <div class="flex ">
                <p class="text-lg text-red-500">324234 ₫</p>
                <p class="text-base ml-[5px] text-slate-400">44531412 ₫</p>
            </div>
        </a>
    </div>
</div>