<section class="bg-gray-100">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="">
      <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl mb-[20px]">
        Sửa sản phẩm
      </h1>
      <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
        <form action="" class="space-y-4" (ngSubmit)="submitForm()">
          <div>
            <label class="sr-only" for="name">Name</label>
            <input [(ngModel)]="Product.name" [ngModelOptions]="{standalone: true}" [value]="Product.name"
              class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Name" type="text" id="name" />
          </div>
          <div>
            <label class="sr-only" for="name">Image</label>
            <input [(ngModel)]="Product.images" [ngModelOptions]="{standalone: true}" [value]="Product.images"
              class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="images" type="file" id="images" />
          </div>
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <label class="sr-only" for="price">Price</label>
              <input min="0" [(ngModel)]="Product.price" [ngModelOptions]="{standalone: true}" [value]="Product.price"
                class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Price" type="number" id="price" />
            </div>
          </div>
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <label class="sr-only" for="price">Price</label>
              <input [(ngModel)]="Product.soLuong" [ngModelOptions]="{standalone: true}" [value]="Product.soLuong"
                class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Price" type="number" min="0"
                id="price" />
            </div>
          </div>
          <div>
            <label class="sr-only" for="message">Description</label>

            <textarea [(ngModel)]="Product.desc" [ngModelOptions]="{standalone: true}" [value]="Product.desc"
              class="w-full rounded-lg border-gray-200 p-3 text-sm" placeholder="Description" rows="8"
              id="description"></textarea>
          </div>

          <div class="mt-4">
            <button type="submit"
              class="inline-block w-full rounded-lg bg-black px-5 py-3 font-medium text-white sm:w-auto">
              Sửa sản phẩm
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>