<div class="relative w-screen w-[50%] border border-gray-600 bg-gray-100 px-4 py-8 sm:px-6 lg:px-8 mx-[auto] my-[50px]"
    aria-modal="true" role="dialog" tabindex="-1">
    <button class="absolute end-4 top-4 text-gray-600 transition hover:scale-110">
        <span class="sr-only">Close cart</span>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="h-5 w-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>

    <div class="mt-4 space-y-6 text-center" *ngIf="getProducts.length;else elseBlock">
        <ul class="space-y-4" *ngFor="let data of getProducts">
            <li class=" flex items-center gap-4">
                <img src="{{data.images}}" alt="" class="h-16 w-16 rounded object-cover" />

                <div>
                    <h3 class="text-sm text-gray-900">{{data.name}}</h3>
                </div>

                <div class="flex flex-1 items-center justify-end gap-2">
                    <form>
                        <label for="Line1Qty" class="sr-only"> Quantity </label>

                        <input disabled type="number" min="1" value="{{data.soLuong}}" id="Line1Qty"
                            class="h-8 w-12 rounded border-gray-200 bg-gray-50 p-0 text-center text-xs text-gray-600 [-moz-appearance:_textfield] focus:outline-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none" />
                    </form>

                    <button class="text-gray-600 transition hover:text-red-600" (click)="xoa(data._id)">
                        <span class="sr-only">Remove item</span>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="h-4 w-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>
                    </button>
                </div>
                <div>
                    <h3 class="text-sm text-gray-900">{{data.price*data.soLuong}}</h3>
                </div>
            </li>
        </ul>
        <div>Tổng tiền : {{tongAll}}</div>
        <div class="space-y-4 mt-[50px]">
            <button type="submit"
                class="mx-auto block rounded bg-gray-700 px-5 py-3 text-sm text-gray-100 transition hover:bg-gray-600"
                (click)="thanhToan()">
                Thanh toán
            </button>
            <a routerLink="/"
                class="inline-block text-sm text-gray-500 underline underline-offset-4 transition hover:text-gray-600">
                Continue shopping
            </a>
        </div>
    </div>
    <ng-template #elseBlock>Giỏ hàng trống</ng-template>
</div>