<footer>
    <div class='grid grid-cols-4 mx-[60px] gap-[50px] pl-[20px] my-[80px]'>
        <div class=''>
            <div class='text-xl'>Tìm cửa hàng</div>
            <div class=''>Tìm cửa hàng gần nhất</div>
            <div class=''>Mua hàng từ xa</div>
            <div class='text-red-500'>Gặp trực tiếp cửa hàng gần nhất (Zalo hoặc gọi điện)</div>
            <div class='text-xl'>Phương thức thanh toán</div>
            <div class='flex'>
                <div class='mr-[20px]'><img src="/citi.png" alt="" /></div>
                <div class='mr-[20px]'><img src="/moca.png" alt="" /></div>
                <div class='mr-[20px]'><img src="/ke.png" alt="" /></div>
                <div class='mr-[20px]'><img src="/vnpay.png" alt="" /></div>
                <div class='mr-[20px]'><img src="/vpbank.png" alt="" /></div>
            </div>

        </div>
        <div class=''>
            <div class=''>Gọi mua hàng:1800.2044(8h00 - 22h00)</div>
            <div class=''>Gọi khiếu nại:1800.2063(8h00 - 21h30)</div>
            <div class=''>Gọi bảo hành:1800.2064(8h00 - 21h00)</div>
            <div class='text-xl'>Đối tác dịch vụ bảo hành</div>
            <div class=''>Điện Thoại - Máy tính</div>
            <div class='text-xl'>Trung tâm bảo hành uỷ quyền Apple</div>
            <div class=''><img src="/footer.png" alt="" /></div>
        </div>
        <div class=''>
            <div class=''>Mua hàng và thanh toán Online</div>
            <div class=''>Mua hàng trả góp Online</div>
            <div class=''>Tra thông tin đơn hàng</div>
            <div class=''>Tra điểm Smember</div>
            <div class=''>Tra thông tin bảo hành</div>
            <div class=''>Tra cứu hoá đơn VAT điện tử</div>
            <div class=''>Trung tâm bảo hành chính hãng</div>
            <div class=''>Quy định về việc sao lưu dữ liệu</div>
            <div class='text-red-500'>Dịch vụ bảo hành điện thoại</div>
        </div>
        <div class=''>
            <div class=''>Quy chế hoạt động</div>
            <div class=''>Chính sách Bảo hành</div>
            <div class=''>Chính sách Bảo hành</div>
            <div class=''>Khách hàng doanh nghiệp (B2B)</div>
            <div class='text-red-500'>Ưu đãi thanh toán</div>
            <div class=''>Tuyển dụng</div>
        </div>

    </div>
    <div class='bg-stone-200 pb-[50px]'>
        <div class='grid grid-cols-3 mx-[150px] gap-[50px] mr-[20px] pt-[20px]'>
            <div class='text-xs'>
                <div class='pt-2'>Điện thoại iPhone 13-Điện thoại iPhone 12-Điện thoại iPhone 11</div>
                <div class='pt-2'>Điện thoại iPhone 13 Pro Max-Điện thoại iPhone 11 Pro Max</div>
                <div class='pt-2'>iPhone cũ giá rẻ-iPhone 13 cũ-iPhone 12 cũ-iPhone 11 cũ</div>
            </div>
            <div class='text-xs'>
                <div class='pt-2'>Điện thoại iPhone-Điện thoại Samsung-Điện thoại Samsung A</div>
                <div class='pt-2'>Điện thoại OPPO-Điện thoại Xiaomi-Điện thoại Vivo-Điện thoại Nokia</div>
                <div class='pt-2'>Samsung Fold 3-Samsung S22-Samsung A73-Samsung A53</div>
            </div>
            <div class='text-xs'>
                <div class='pt-2'>Laptop-Laptop HP-Laptop Dell-Laptop Acer</div>
                <div class='pt-2'>Microsoft Surface-Laptop Lenovo-Laptop Asus</div>
                <div class='pt-2'>Máy tính để bàn-Màn hình máy tính-Camera-Camera hành trình</div>
            </div>
        </div>
        <h4 class='text-xs text-center mt-[20px]'>Công ty TNHH Thương mại và dịch vụ kỹ thuật DIỆU PHÚC - GPĐKKD:
            0316172372 do sở KH & ĐT TP. HCM cấp ngày 02/03/2020. Địa chỉ: 350-352 Võ Văn Kiệt, Phường Cô Giang, Quận 1,
            Thành phố Hồ Chí Minh, Việt Nam. Điện thoại: 028.7108.9666.</h4>
    </div>
</footer>