
<div class="overflow-x-auto">
    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
      <thead class="ltr:text-left rtl:text-right">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Name
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Email
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Password
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Role
          </th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Chức Năng
          </th>
        </tr>
      </thead>
  
      <tbody class="divide-y divide-gray-200 text-center">
        <tr *ngFor="let data of getUser">
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            {{data.name}}
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{data.email}}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{data.password}}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">1</td>
          <td class="whitespace-nowrap px-4 py-2">
            <a href="#"class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700">
      view
       </a>
 </td>
        
        </tr>
  
        <tr>
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Jane Doe
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">abc2@gmail.com</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">123456</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">1</td>
          <td class="whitespace-nowrap px-4 py-2">
            <a href="#"class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700">
      view
       </a>
 </td>
        </tr>
  
        <tr>
          <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
            Gary Barlow
          </td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">abc3@gmail.com</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">12345678</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">0</td>
          <td class="whitespace-nowrap px-4 py-2">
                     <a href="#"class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700">
               view
                </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>